<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% # Inlined CSS Variables %}
    {% render 'css-variables' %}

    {% # Load and preload the critical CSS %}
    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}

    {% # Social, title, etc. %}
    {% render 'meta-tags' %}
    {{ content_for_header }}
    {% comment %}Root Styles  {% endcomment %}

    {{ 'styles.css' | asset_url | append: '?v=' | append: 'now' | date: '%s' | stylesheet_tag }}
  </head>

  <body>
    {{ content_for_layout }}
    {% section 'hero-banner' %}

    {% section 'BelowFold' %}

    {% section 'featured-products' %}

    {% section 'trust' %}

    {% section 'about' %}

    {% section 'newsletter' %}

    {% section 'footer' %}
  </body>
</html>
