<footer class="footer">
  <section class="footer__content">
      <div class="FooterBody">
        <img src="Assets\Wordmark\Light.svg" alt="" />
        <div class="FooterBio">
          <h2>Alastair Smith Ceramics</h2>
          <p>
            I produce handcrafted ceramics and pottery for functional and
            everyday usage. My pieces are a celebration of natural and ancient
            techniques and materials in conjunction with modern engineering
            methods and design principles.
          </p>
        </div>
        <div class="Browse">
          <h2>Browse</h2>
          <div class="BrowseItems">
            <ul class="BrowseList">
              <li><a class="BrowseLink" href="Index.html">Home</a></li>

              <li><a class="BrowseLink" href="About.html">About</a></li>
              <li>
                <a class="BrowseLink" href="Process.html">Creative Process</a>
              </li>
              <li><a class="BrowseLink" href="Gallery.html">Gallery</a></li>
              <li><a class="BrowseLink" href="Contact.html">Contact</a></li>
              <li><a class="BrowseLink" href="#shop">Shop</a></li>
            </ul>
          </div>
        </div>

        <div class="FooterContact">
          <h2>Contact</h2>

          <div class="ContactInfo">
            <div class="InfoDiv">
              <img
                class="ConIcon"
                src="../Assets\Icons\R3\Footer\Footer\BodyContent\Mail\Mail.png"
                alt=""
              />
              <a class="ContactLinks" href="Alastair.smith83@gmail.com"
                >Alastair.smith83@gmail.com</a
              >
            </div>
            <div class="InfoDiv">
              <img
                class="ConIcon"
                src="\Assets\Icons\R3\Footer\Footer\BodyContent\Phone\Phone.png"
                alt=""
              />
              <a class="ContactLinks" href="">+44 7575 206576</a>
            </div>
            <div class="InfoDiv">
              <img
                class="ConIcon"
                src="\Assets\Icons\R3\Footer\Footer\BodyContent\Instagram\Instagram.png"
                alt=""
              />
              <a
                class="ContactLinks"
                href="https://www.instagram.com/alastair_smith_ceramics/"
                >@ alastair_smith_ceramics</a
              >
            </div>
            <div class="InfoDiv">
              <img
                class="ConIcon"
                src="\Assets/Icons/R3/Footer/Footer/BodyContent/Location/Location.png"
                alt=""
              /><a
                class="ContactLinks"
                href="https://www.google.com/maps/place/Deemouth+Artist+Studios/@57.139,-2.090451,17z/data=!3m1!4b1!4m22!1m15!4m14!1m6!1m2!1s0x48840f2d18c308b1:0x4422c056284d5a79!2sDeemouth+Artist+Studios!2m2!1d-2.0878761!2d57.1389971!1m6!1m2!1s0x48840f2d18c308b1:0x4422c056284d5a79!2sDeemouth+Artist+Studios,+S+Esplanade+E,+Aberdeen+AB11+9PB!2m2!1d-2.0878761!2d57.1389971!3m5!1s0x48840f2d18c308b1:0x4422c056284d5a79!8m2!3d57.1389971!4d-2.0878761!16s%2Fg%2F11mvmhr3n5?entry=ttu&g_ep=EgoyMDI0MTAyOS4wIKXMDSoASAFQAw%3D%3D"
                >Unit 2C, Deemouth Business Centre, S Esplanade E, Aberdeen AB11
                9PB</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="CreatedBy">
        <p>Website Delivered by</p>
        <img
          src="Images\Scm Footer Logo.svg"
          alt="Brand logo for the Scottish Design Studio, SCM Studio"
        />
      </div>
      <div class="Copyright">
        <p>Privacy Policy</p>
        <p>&copy Alastair Smith Ceramics 2024</p>
      </div>

    <div class="footer__copyright">
      &copy; {{ 'now' | date: '%Y' }} {{ shop.name | link_to: routes.root_url }}, {{ powered_by_link }}
      <span class="footer__designed-by">
        Website designed by:
        <a href="https://www.yourdesignagency.com" target="_blank" class="footer__agency-link">
          <img src="{{ 'Scm Footer Logo.svg' | asset_url }}" alt="Your Design Agency Logo" class="footer__agency-logo" height="20" width="20">
        </a>
      </span>
    </div>

    <div class="footer__links">
      {% for link in section.settings.menu.links %}
        {{ link.title | link_to: link.url }}
      {% endfor %}
    </div>

    <div class="footer__payment">
      {% if section.settings.show_payment_icons %}
        {% for type in shop.enabled_payment_types %}
          {{ type | payment_type_svg_tag }}
        {% endfor %}
      {% endif %}
    </div>
  </section>
</footer>

{% stylesheet %}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --green: #1c4219;
  --grey: #d0ccd0;
  --white: #fbfcff;
  --blue: #1c6e8c;
  --black: #000;
  --heading-font: "Futura Book", sans-serif;
  --body-font: "Elgian", serif;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
footer a {
  text-decoration: none;
  color: var(--blue);
}
footer .footer__links,
footer .footer__payment {
  display: flex;
  gap: 1rem;
}
.footer__designed-by {
  margin-left: 1rem;
  display: inline-flex;
  align-items: center;
}
.footer__agency-logo {
  height: 20px;
  margin-left: 0.5rem;
}
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.footer",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "t:labels.show_payment_icons",
      "default": true
    }
  ]
}
{% endschema %}
