<header class="h-12.5 grid grid-cols-[auto_1fr_auto]">
  <h2 class="header__title text-4xl font-bold">
    {{ shop.name | link_to: routes.root_url }}
  </h2>

  <div class="header__menu flex gap-4">
    {% for link in section.settings.menu.links %}
      {{ link.title | link_to: link.url }}
    {% endfor %}
  </div>

  <div class="header__icons flex gap-4 items-center">
    {% if shop.customer_accounts_enabled %}
      {{ 'icon-account.svg' | inline_asset_content | link_to: routes.account_url, class: 'w-8 block' }}
    {% endif %}

    <a href="{{ routes.cart_url }}" class="w-8 flex leading-[32px]">
      <span class="w-8 leading-[32px]">{{ 'icon-cart.svg' | inline_asset_content }}</span>
    </a>
    {% # TODO get art item count working again %}
  </div>
</header>

{% schema %}
{
  "name": "t:general.header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    }
  ]
}
{% endschema %}
