{% comment %}
  Main Reset Password Section - Influence Theme
  Password reset form
{% endcomment %}

<section class="main-reset-password section {% render 'color-scheme', scheme: section.settings.color_scheme %}">
  <div class="container container--narrow">
    <div class="account-form">
      <h1 class="account-form__title h2">{{ 'customer.reset_password.title' | t }}</h1>
      <p class="account-form__subtitle">{{ 'customer.reset_password.subtext' | t: email: email }}</p>

      {%- form 'reset_customer_password', class: 'account-form__form' -%}
        {%- if form.errors -%}
          <div class="form-message form-message--error">
            {{ form.errors | default_errors }}
          </div>
        {%- endif -%}

        <div class="form-group">
          <label for="ResetPassword" class="form-label">{{ 'customer.reset_password.password' | t }}</label>
          <input
            type="password"
            id="ResetPassword"
            name="customer[password]"
            class="form-input"
            autocomplete="new-password"
            required
          >
        </div>

        <div class="form-group">
          <label for="ResetPasswordConfirm" class="form-label">{{ 'customer.reset_password.password_confirm' | t }}</label>
          <input
            type="password"
            id="ResetPasswordConfirm"
            name="customer[password_confirmation]"
            class="form-input"
            autocomplete="new-password"
            required
          >
        </div>

        <button type="submit" class="btn btn--primary btn--full">
          {{ 'customer.reset_password.submit' | t }}
        </button>
      {%- endform -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.main_reset_password.name",
  "tag": "section",
  "class": "section-main-reset-password",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:labels.color_scheme",
      "options": [
        { "value": "scheme-1", "label": "t:options.color_scheme.scheme_1" },
        { "value": "scheme-2", "label": "t:options.color_scheme.scheme_2" }
      ],
      "default": "scheme-1"
    }
  ]
}
{% endschema %}
